<div class="container-fluid mt-5">
    <div class="row">
     
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card card-custom">
            <img src="../../../../assets/images/cardImage4.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h4 class="card-title text-center">Certificate of Deposits</h4>
                <p class="card-text">Enjoy upfront interest with Emirates NBD’S Certificate of Deposit</p>
                <p class="card-text">Know more    <i class="fas fa-angle-right"></i>   </p>
                
            </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card card-custom">
            <img src="../../../../assets/images/cardImage3.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h4 class="card-title text-center">Cards</h4>
                <p class="card-text">Shop, earn and pay with reward points!</p>
                <p class="card-text">Know more    <i class="fas fa-angle-right"></i>   </p>
                
            </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card card-custom">
            <img src="../../../../assets/images/cardImage2.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h4 class="card-title text-center">Loans</h4>
                <p class="card-text">Get your fund through your house</p>
                <p class="card-text">Know more    <i class="fas fa-angle-right"></i>   </p>
                
            </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card card-custom">
            <img src="../../../../assets/images/cardImage1.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h4 class="card-title text-center">Digital Banking Services</h4>
                <p class="card-text">Have you registered yet?</p>
                <p class="card-text">Know more    <i class="fas fa-angle-right"></i>   </p>
                
            </div>
        </div>
      </div>
    </div>
  </div>
