h1{ 
    font-family: system-ui;
    font-weight: bold;
}

.custom-h1{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    background-color: #4f86f7;
    border-radius: 5px;
}


.custom-border-padding{
    direction: rtl;
    border-right: 5px solid #0d6efd;
    
    border-bottom: 2px solid #e8e8e8;
    padding: 10px;
}

.mat-mdc-tab-group.mat-background-primary, .mat-mdc-tab-nav-bar.mat-background-primary {
    --mat-mdc-tab-header-with-background-background-color: #0d6efd;
    --mat-mdc-tab-header-with-background-foreground-color: #fff;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


.input-mrg-top{
    margin-top: 1rem;
  }

.ang-maturial-select{
    width: 100%;
}  

.select-margin-bottom{
    margin-bottom: -20px;
}

.custom-icon{
    font-size: larger;
    margin-left: 3px;
    margin-right: 3px;
}


 
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 50px;
  }
  

  .mat-mdc-table .mdc-data-table__row:hover{
    background-color: #dfdfdf; 
    cursor: pointer;
  
  }
  
  
  .table-header-font-size{
  font-weight: bold;
  }
  
  td{
  font-size: large;
  }
  
  .invalid-feedback {
    color: red;
    font-size: 12px;
}