<div class="slider">
    <ng-container>
        <div class="slide">
            <div class="slide-bg">
                <img src="../../../../assets/images/banner4.jpg" alt="banner" />
            </div>
            <div class="slide-pane">
                <span>Together we will conquer</span>
                <div class="meta mb-4">
                    <div class="title mt-2"> 
                        <h1 style="max-width: 500px;" >Just because we cannot shake hands doesn't mean we cannot lend one.</h1>
                    </div>
                    <div class="mt-5">
                    </div>
                   
                </div>
                <p href="#">All COVID-19 Updates   <i class="fas fa-angle-right"></i>  Branch Timings   <i class="fas fa-angle-right"></i>
                </p>
            </div>
        </div>
    </ng-container>
</div>

<div class="slider">
    <ng-container>
        <div class="slide">
            <div class="slide-bg">
                <img src="../../../../assets/images/banner5.jpg" alt="banner" />
            </div>
            <div class="slide-pane">
                <span>Customer Care</span>
                <div class="meta mb-4">
                    <div class="title mt-2">
                        <h1>How can we help you today?</h1>
                    </div>
                    <div class="mt-5">
                    </div>
                   
                </div>
                <a class="btn btn-lg" href="#">Get Support
                    <i class="fas fa-angle-right"></i>
                </a>
            </div>
        </div>
    </ng-container>
</div>