<div class="slider">
    <ng-container>
        <div class="slide">
            <div class="slide-bg">
                <img src="../../../../assets/images/secondbodyBanner.jpg" alt="banner" />
            </div>
            <div class="slide-pane">
                <span>LIBOR transition</span>
                <div class="meta mb-4">
                    <div class="title mt-2">
                        <h1 style="font-size: 34px;font-weight: 400;">
                            Preparing for benchmark interest rate change.
                        </h1>
                    </div>
                    <div class="mt-5">
                        <h4>Find out more about LIBOR</h4>
                    </div>

                </div>
                <p href="#">
                    LIBOR Transition Update <i class="fas fa-angle-right"></i> Risk Disclosure <i
                        class="fas fa-angle-right"></i> FAQs <i class="fas fa-angle-right"></i>
                </p>
            </div>
        </div>
    </ng-container>
</div>