<div class="container-fluid mt-5">
    <div class="row">
     
      <div class="col-md-6 col-lg-6 mb-4">
        <div class="card card-custom">
            <img src="../../../../assets/images/cardImage-lg2.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h4 class="card-title">Customer Rights Protection</h4>
                <p class="card-text">Know your banking rights to ensure the safety of your transactions</p>
                <p class="card-text">Know more    <i class="fas fa-angle-right"></i>   </p>
                
            </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 mb-4">
        <div class="card card-custom">
            <img src="../../../../assets/images/cardImage-lg1.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h4 class="card-title text-center">World Mastercard</h4>
                <p class="card-text">Enjoy the world around you only with World Mastercard</p>
                <p class="card-text">Know more    <i class="fas fa-angle-right"></i>   </p>
                
            </div>
        </div>
      </div>
    </div>
  </div>
