<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="gradient-overlay"></div>
        <img src="../../../assets/images/banner1.jpg" class="d-block w-100 shadow-left" width="100%" height="100%" />
        <div class="carousel-caption text-start d-flex align-items-center" style="height: 100%;">
          <div class="text-start" style="max-width: 46.875rem;">
            <h2 class="banner-slider__title">Accounts</h2>
            <h2 class="banner-slider__title">Once in a lifetime offer! Be one of the 401 winners</h2>
            <p>
              <a class="btn btn-lg" href="#">Know more
                <i class="fas fa-angle-right" style="margin: 2px;"></i>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="gradient-overlay"></div>
        <img src="../../../assets/images/banner2.jpg" class="d-block w-100 shadow-left" width="100%" height="100%" />
        <div class="carousel-caption text-start d-flex align-items-center" style="height: 100%;">
          <div class="text-start" style="max-width: 46.875rem;">
            <h2 class="banner-slider__title">Credit Cards</h2>
            <h2 class="banner-slider__title">Enjoy your Summer and get cash back up to EGP 5,000 when you use your credit card</h2>
            <p>
              <a class="btn btn-lg" style="margin-bottom: 23px;" href="#">Know more
                <i class="fas fa-angle-right" style="margin: 2px;"></i>
              </a>
            </p>
          </div>
        </div>
      </div>

      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
