<div class="slider">
    <ng-container>
        <div class="slide">
            <div class="slide-bg">
                <img src="../../../../assets/images/bodyBanner.jpg" alt="banner" />
            </div>
            <div class="slide-pane">
                <span>Money Market Fund</span>
                <div class="meta mb-4">
                    <div class="title mt-2">
                        <h1>Mazid Investment Fund certificate price</h1>
                    </div>
                    <div class="mt-5">
                        <h4>08/07/2024</h4>
                    </div>
                    <div>
                        <p style="font-weight:100">EGP 1,958.65</p>
                    </div>
                </div>
                <a class="btn btn-lg" href="#">Know more
                    <i class="fas fa-angle-right"></i>
                </a>
            </div>
        </div>
    </ng-container>
</div>