<header class="p-3" style="background-color: #182f7c;">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <li><h3  style="font-weight: 100;" class="nav-link px-2 hearWordColor">Website Settings</h3></li>
        <img  src="../../../../assets/images/flag-egypt.png"/>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><p class="nav-link px-2 mt-3 text-white"> Arabic : العربية   <i  class="fas fa-chevron-down"></i> </p></li>
          
        </ul>

        

        <div class="text-end">
         <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><p class="nav-link px-2 mt-3 text-white">Emirates NBD on Social</p></li>
                <li><p class="nav-link px-2 mt-3 text-white"><i class="fab fa-facebook-f"></i></p></li>
                <li><p class="nav-link px-2 mt-3 text-white"><i class="fab fa-twitter"></i></p></li>
                <li><p class="nav-link px-2 mt-3 text-white"><i class="fab fa-youtube-square"></i></p></li>
                <li><p class="nav-link px-2 mt-3 text-white"><i class="fab fa-instagram"></i></p></li>
                <li><p class="nav-link px-2 mt-3 text-white"><i class="fab fa-linkedin-in"></i></p></li>
        </ul>
        </div>
      </div>
    </div>
  </header>