<div class="container-fluid mt-5">
    <div class="row">
     
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card card-custom">
            <img src="../../../../assets/images/cardImage8.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h4 class="card-title text-center">Accessible & inclusive Banking</h4>
                <p class="card-text">Introducing “Azm” bundle to support the people of determination</p>
                <p class="card-text">Know more    <i class="fas fa-angle-right"></i>   </p>
                
            </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card card-custom">
            <img src="../../../../assets/images/cardImage7.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h4 class="card-title text-center">Emirates airline offer</h4>
                <p class="card-text">Fly now, pay down the line</p>
                <p class="card-text">Know more    <i class="fas fa-angle-right"></i>   </p>
                
            </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card card-custom">
            <img src="../../../../assets/images/cardImage6.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h4 class="card-title text-center">Amazon offer</h4>
                <p class="card-text">Buy more and pay for longer period</p>
                <p class="card-text">Know more    <i class="fas fa-angle-right"></i>   </p>
                
            </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card card-custom">
            <img src="../../../../assets/images/cardImage5.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h4 class="card-title text-center">business ONLINE</h4>
                <p class="card-text">Your business services anytime, anywhere</p>
                <p class="card-text">Know more    <i class="fas fa-angle-right"></i>   </p>
                
            </div>
        </div>
      </div>

        
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card card-custom">
            <img src="../../../../assets/images/cardImage12.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h4 class="card-title text-center">News</h4>
                <p class="card-text">Find your IBAN</p>
                <p class="card-text">Know more    <i class="fas fa-angle-right"></i>   </p>
                
            </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card card-custom">
            <img src="../../../../assets/images/cardImage11.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h4 class="card-title text-center">Financial Inclusion</h4>
                <p class="card-text">Have Your Independence, have your own bank account</p>
                <p class="card-text">Know more    <i class="fas fa-angle-right"></i>   </p>
                
            </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card card-custom">
            <img src="../../../../assets/images/cardImage5.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h4 class="card-title text-center">Ways of Banking</h4>
                <p class="card-text">Day to day banking on the go</p>
                <p class="card-text">Online Banking    <i class="fas fa-angle-right"></i>   </p>
                <p class="card-text">Mobile Banking    <i class="fas fa-angle-right"></i>   </p>
                
            </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card card-custom">
            <img src="../../../../assets/images/cardImage9.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h4 class="card-title text-center">Auto loans</h4>
                <p class="card-text">Instant approval on auto loans with different lending programs</p>
                <p class="card-text">Know more    <i class="fas fa-angle-right"></i>   </p>
                
            </div>
        </div>
      </div>
    </div>
  </div>
