.rgTitle {
  color: #182f7c;
  font-size: 40px;
  font-weight: 200;
}

.btn {
  background-color: #182f7c;
  color: white;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
}

.btn:hover {
  background-color: #122254;
}
