

<div class="container-fluid" style="background-color: #eef2f8;">
    <footer class="py-5">
      <div class="row p-5" style="justify-content: space-around;" >
        <div class="col-6 col-md-2 mb-3">
          <h5 class="first-h5">You are currently browsing</h5>
          <h5 class="first-h5">- - - - - - - - - - - - - - - - - - - - - - - </h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><h5 class="first-h5">Other segments</h5></li>
            <li class="nav-item mb-2"><p style="color:#182f7c;" class="nav-link p-0">Standard Banking</p></li>
            <li class="nav-item mb-2"><p style="color:#182f7c;" class="nav-link p-0">Personal Banking</p></li>
            <li class="nav-item mb-2"><p style="color:#182f7c;" class="nav-link p-0">Corporate Banking</p></li>
            <li class="nav-item mb-2"><p style="color:#182f7c;" class="nav-link p-0">Priority Banking</p></li>
            <li class="nav-item mb-2"><p style="color:#182f7c;" class="nav-link p-0">Business Banking</p></li>
            <li class="nav-item mb-2"><p style="color:#182f7c;" class="nav-link p-0">E-Banking</p></li>
            <li class="nav-item mb-2"><p style="color:#182f7c;" class="nav-link p-0">Points Plus</p></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h4 style="color: #182f7c;font-weight: 500;">Customer Care</h4>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><p class="nav-link p-0" >Suggestions</p></li>
            <li class="nav-item mb-2"><p class="nav-link p-0" >Complaints</p></li>
            <li class="nav-item mb-2"><p class="nav-link p-0" >Enquiries</p></li>
            <li class="nav-item mb-2"><p class="nav-link p-0" >Call Us</p></li>
            <li class="nav-item mb-2"><p class="nav-link p-0" >Banking Regulations</p></li>
            <li class="nav-item mb-2"><p class="nav-link p-0" >Customer Rights Protection</p></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
            <h4 style="color: #182f7c;font-weight: 500;">About Emirates NBD Egypt</h4>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><p class="nav-link p-0">About Us</p></li>
              <li class="nav-item mb-2"><p class="nav-link p-0">About Emirates NBD</p></li>
              <li class="nav-item mb-2"><p class="nav-link p-0">Financial Reports</p></li>
              <li class="nav-item mb-2"><p class="nav-link p-0">Media Center</p></li>
              <li class="nav-item mb-2"><p class="nav-link p-0">Careers</p></li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h4 style="color: #182f7c;font-weight: 500;">Tools</h4>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><p class="nav-link p-0">Customer data update</p></li>
            </ul>

            <h4 style="color: #182f7c;font-weight: 500;">Swift Code</h4>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><p class="nav-link p-0">EBILEGCXXXX</p></li>
            </ul>

            <h4 style="color: #182f7c;font-weight: 500;">Branches Extra Fees</h4>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><p class="nav-link p-0">Corporate</p></li>
                <li class="nav-item mb-2"><p class="nav-link p-0">Individual</p></li>
            </ul>

            <h4 style="color: #182f7c;font-weight: 500;">Helpful Links</h4>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><p class="nav-link p-0">Tariffs</p></li>
            </ul>
          </div>
    
       
      </div>
    </footer>
  </div>
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
      <div class="col-md-7 align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <h4 class="custom-h4 mb-3 mb-md-0">Cookie policy  |  Data Privacy Notice</h4>
        <h4 class="custom-h4 mb-3 mb-md-0 mt-2">Copyright © 2024</h4>
        <h4 class="custom-h4 mb-3 mb-md-0 mt-">Emirates NBD Bank (P.J.S.C.) is licensed by the Central Bank of the UAE, Baniyas Road, Deira, P.O. Box: 777, Dubai, UAE</h4>
        
      </div>
  
      <div class="nav col-md-4 justify-content-end ">
        <img src="../../../../assets/images/footerlogo.png" width="170" height="100">
      </div>
     
    </footer>
  </div>